h1 {
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 25px;
  font-weight: bold; letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

body {
    background-image: url("http://i.myniceprofile.com/1505/150512.gif");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
    z-index: 1;
}

#countdown{
  color: yellow;
  font-size: 150%;
}

.divRight{
  width: 300px;
  height: 300px;
  border: 3px solid black;
  background-image: url("https://media.riffsy.com/images/24805223bc5f729f16fe658893de5c54/raw");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  left: 0;
  right: 0;
}

.divWrong{
  width: 300px;
  height: 300px;
  border: 3px solid black;
  background-image: url("https://media.giphy.com/media/vPN3zK9dNL236/giphy.gif");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  left: 0;
  right: 0;
}

/*
css for the select player button
*/

.startBtn {
  border-radius: 4px;
  background-color: red;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.startBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.startBtn span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.startBtn:hover span {
  padding-right: 25px;
}

.startBtn:hover span:after {
  opacity: 1;
  right: 0;
}

/*
css for the select player button
*/

.selectPlayer {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.selectPlayer:hover {background-color: #3e8e41}

.selectPlayer:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

